:root{
    /*COLORS*/
    /*--- Color CUBE ---*/
    --color__cube__wite: #ffffff;
    --color__cube__tundora: #484848;
    --color__cube__BayLeaf: #79b27b;
    --color__cube__firefly: #040b11;
    --color__cube__AlizarinCrimson: #e32929;
    --color__cube__alcarona: #d6c9b0;
    --color__cube__JapaneseMaple: #78020f;
    --color__cube__crenberry: #db677d;
    --color__cube__seagull: #79b7e4;
    --color__cube__DeepCerulean: #036db4;
    --color__footer__text: #777f86;
    /*--- F.Color CUBE  --*/

    /*--- Median CUT ---*/
    --color__cut__AthensGray: #e5e8eb;
    --color__cut__CapeCod: #3f4843;
    --color__cut__BayLeaf: #85b680;
    --color__cut__gumbo: #7f9ea8;
    --color__cut__stonewall: #93806f;
    /*--- F.Median CUT ---*/

    /*--- Material design ---*/
    --color__design__PunchVibrant: #d82b32;
    --color__design__AxolotlMuted: #48644b;
    --color__design__TamarilloDarkVibrant: #9f1726;
    --color__design__AztecDarkMuted: #0f1d1f;
    --color__design__SorrellBrownLightVibrant: #d2b899;
    /*--- F.Material design ---*/
    /*F.COLORS*/

    /*CONTAINERS*/
    /*--- Conteiner Large ---*/
    --container-lg: 1280px;
    /*--- F.Conteiner Large ---*/
    /*F.CONTAINERS*/

}